{%extends 'base.html'%}
{% load static %}

{% block content %}

<h2>Withdraw Funds</h2>

    {% if businesses %}
        {% for business in businesses %}
            <div class="card mb-3">
                <div class="card-body"  style="border:1px solid #ddd; padding:15px; margin-bottom:15px;">
                    <h3 class="card-title">{{ business.name }}</h3>
                    <p class="card-text">Current Balance: ₦{{ business.wallet.balance }}</p>
                    <form method="post" action="{% url 'orders:request_withdrawal' %}">
                        {% csrf_token %}
                        <input type="hidden" name="business_id" value="{{ business.id }}">
                        <div class="mb-3">
                            <label for="amount_{{ business.id }}" class="form-label">Amount to Withdraw</label>
                            <input type="number" name="amount" step="0.01" min="0.01" max="{{ business.wallet.balance }}" class="form-control" id="amount_{{ business.id }}" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Request Withdrawal</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <p>You do not own any businesses.</p>
    {% endif %}
{% endblock %}